{% extends "index.twig" %}
{%~ block head %}
{{parent()}}{% endblock %}
{% block body %}

{% block header %}
	{{parent()}}
{% endblock %}

{% block article %}


		{% set currentFacility = entry %}
		{% set currentPerPage = 12 %}
		{% if currentFacility and currentFacility.section.handle == 'facility' %}
			{% set currentList = craft.entries()	
					.section('human')
					.relatedTo(currentFacility)
					.limit(12) 
					.orderBy('dateOfStatus DESC, postDate DESC')
			%}
		{% endif %}
		{% if currentFacility and currentFacility.section.handle == 'facility' %}
			{% set currentDeadList = craft.entries()	
					.section('human')
					.relatedTo(currentFacility)
					.limit(12) 	
					.humanStatus('dead')
					.orderBy('dateOfStatus DESC, postDate DESC')
					
			%}
		{% endif %}
		
	<article class="flex-grow">

		{# {% set facilityImage = entry.photos.one() %} #}
		{% set facilityEmail = entry.email %}
		{% set facilityPhone = entry.phone %}
		{% set facilityWebsite = entry.website %}
		{% set facilityAddress1 = entry.address1 %}
		{% set facilityAddress2 = entry.address2 %}
		{% set facilityCity = entry.city %}
		{% set facilityState = entry.state %}
		{% set facilityZip = entry.zip %}
		{% set facilityNote = entry.note %}
		{% set facilityAdvocate = entry.contacts.type('advocate') %}
		{% set facilityWarden = entry.contacts.type('warden') %}

		<section class="bg-white dark:bg-gray-900">
			<div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-8 lg:grid-cols-12">
				<div class="mr-auto place-self-center lg:col-span-7">
					<h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
						{{entry.title}}</h1>
						
					{% if facilityNote %}
						<p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
							<span class="font-bold uppercase">About
								{{entry.title}}:</span>
							{{facilityNote}}
						</p>
					{% endif %}


					<div class="px-5 pb-5">
						{% set address_parts = [facilityAddress1, facilityAddress2, facilityCity ~ ', ' ~ facilityState ~ ' ' ~ facilityZip] %}
						{% set address = address_parts|filter|join('<br>') %}

						{% if address %}
							<h2 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
								<strong>Address:
								</strong>
							</h2>
							<p>{{ address|raw }}</p>
						{% endif %}
						
						{% if facilityEmail %}
							<span class="text-gray-500 text-lg">
								<strong>Email: </strong>
								<a class="underline" href="mailto:{{facilityEmail}}">{{facilityEmail}}</a>
							</span>
						{% endif %}
						{% if facilityPhone %}
							<p class="my-2 font-light text-gray-500 dark:text-gray-400">
								<span class="font-medium">Phone:</span>
								<a class="underline" href="tel:{{facilityPhone}}">{{facilityPhone}}</a>
							</p>
						{% endif %}
						{% if facilityWebsite %}
							<p class="my-2 font-light text-gray-500 dark:text-gray-400">
								<span class="font-medium">Website:</span>
								<a class="underline" href="{{facilityWebsite}}">{{facilityWebsite}}</a>
							</p>
						{% endif %}


						{% set contacts = entry.contacts.all() %}
						{% if contacts|length %}
							<h2 class="font-bold text-xl">Facility Contacts:</h2>
							{% for block in contacts %}
								{% set isWarden = block.type.handle == 'warden' %}
								{% set isAdvocate = block.type.handle == 'advocate' %}
								{% if isWarden %}
									{% set email = block.firstName ~ '.' ~ block.lastName ~ '@doc.alabama.gov' %}
									<h3 class="mt-2 font-semibold text-lg">Warden:</h3>
									<div class="ml-2">
										<p class="text-lg">{{ block.firstName }}
											{{ block.lastName }}</p>
										{% if email %}
											<p><span class="font-bold">Email:</span>
												<a class="underline" href="mailto:{{ email }}">{{ email }}</a>
											</p>
										{% endif %}
										{% if block.phone %}
											<p><span class="font-bold">Phone:</span>
											{% set formattedPhone = block.phone|replace({'tel:':'', '-':''})|replace({"(\\d{3})(\\d{3})(\\d{4})": "$1-$2-$3"}) %}
												<a class="underline" href="tel:{{ block.phone }}">{{ formattedPhone }}</a>

											</p>
										{% endif %}
									</div>
								{% elseif isAdvocate %}
									<h3 class="mt-2 font-semibold text-lg">Advocate:</h3>
									<div class="ml-2">
										<p class="text-lg">{{ block.firstName }}
											{% if block.nickName %}"{{ block.nickName }}"
											{% endif %}
											{{ block.lastName }}</p>
										{% if block.email %}
											<p>
												<span class="font-bold">Email:</span>
												<a href="mailto:{{ block.email }}">{{ block.email }}</a>
											</p>
										{% endif %}
										{% if block.phone %}
											<p><span class="font-bold">Phone:</span>
												{% set formattedPhone = block.phone|replace({'tel:':'', '-':''})|replace({"(\\d{3})(\\d{3})(\\d{4})": "$1-$2-$3"}) %}
												<a class="underline" href="tel:{{ block.phone }}">{{ formattedPhone }}</a>
										{% endif %}
										{% if block.website %}
											<p><span class="font-bold">Website:</span>
											<a class="underline"  href="{{ block.website }}">{{ block.website }}</a>

											</p>
										{% endif %}
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}


						{# {% if facilityContacts|length %}
							<h2 class="my-2 text-xl text-gray-500 dark:text-gray-400 font-bold">Contacts</h2>
							<ul class="ml-4">
								{% for facilityContacts in facilityContacts %}
									<li class="list-decimal">
										{% set facilityWarden = facilityContacts.warden %}
										{% if facilityWarden %}
											<h3 class="ml-2 mt-2 mb-1 underline font-light text-gray-500 dark:text-gray-400">Warden: {{ facilityContacts.contactType.one().title }}</h3>
										{% else %}
											<h3 class="ml-2 mt-2 mb-1 underline font-light text-gray-500 dark:text-gray-400">{{ facilityContacts.contactType.one().title }}</h3>
										{% endif %} 
									</li>
								{% endfor %}
							</ul>
						{% endif %} #}
					</div>


					<a href="{{ siteUrl }}facilities" class="inline-flex items-center justify-center px-5 py-3 mb-4 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
						View All facilities
						<svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
						</svg>
					</a>
					
					{% if currentDeadList.count() > 0 %}
						<a href="{{ siteUrl }}humans/?facility={{ entry.id }}" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
							View {{ currentDeadList.count() }} Human(s) Lost
						</a>
						{% else %}
						<div href="{{ siteUrl }}currentList/?facility={{ entry.id }}" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:focus:ring-gray-800">
							{{ currentDeadList.count() }} Humans Lost
						</div>
						
					{% endif %}
				</div>
				{% set address_parts = [facilityAddress1, facilityAddress2, facilityCity ~ ', ' ~ facilityState ~ ' ' ~ facilityZip] %}
					{% set address = address_parts|join(', ') %}

					{% if address %}
						<div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
							<iframe width="100%" height="auto" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
							src="https://maps.google.com/maps?q={{ address|url_encode() }}&amp;output=embed&zoom=100"></iframe>
						</div>
					{% endif %}
				{# {% if facilityImage %}
					<div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
						<img src=" {{ facilityImage.url }} " alt="{{facilityImage.alt}}">
					</div>
				{% else %}
					<div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
						<img src="/facilitys/placeholder.jpg" alt="No image available">
					</div>
				{% endif %} #}
			</div>
		</section>
		{# Start - Human Cards #}
		{% paginate currentList as currentQuery, humanEntries %}
		{% if currentList.count() > 0 %}
	<section id="cards" class="bg-white dark:bg-gray-900">
		<div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-8 lg:px-6">

			<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
				{% for human in humanEntries %}
					{% include "_includes/_humanCard.twig" %}
			
				{% endfor %}
				</div>
		</div>
	</section>
		{# START - PAGINATION #}
			{% include "_includes/_pagination.twig" %}
		{# END - PAGINATION #}
		{% endif %}
	</article>
{% endblock %}
{% block footer %}
	{{parent()}}
{% endblock %}{% endblock %}

