{% set image = element.shareImage.one() %}
<span style="font-size: 24px;">Facebook Style SEO Preview:</span><br>
<div class="SeoPreview"
    style="width: 527px; height: auto; background: #404040; border-radius: 2px; overflow: hidden; border-left: 0.50px rgba(255, 255, 255, 0.10) solid; border-top: 0.50px rgba(255, 255, 255, 0.10) solid; border-right: 0.50px rgba(255, 255, 255, 0.10) solid; border-bottom: 0.50px rgba(255, 255, 255, 0.10) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    {% if element.shareImage.one() %}
    <img class="Shareimage" style="width: 527px; height: 350px" src="{{ element.shareImage.one().url }}" />
    {% endif %}
    <div class="Frame2"
        style="align-self: stretch; height: auto; padding: 10px; background: #EFEFEF; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: flex">
        {% set siteId = element.siteId %}
        {% set site = craft.app.sites.getSiteById(siteId) %}
        {% if site %}
        <div class="Siteurl"
            style="text-transform: uppercase; width: 507px; height: 15px; justify-content: center; align-items: center; display: inline-flex">
            <div class="Fdsafdsa"
                style="width: 507px; color: #6C6C6C; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                {{ site.baseUrl | replace({'http://': '', 'https://': ''}) | split('/')[0] }}
            </div>
        </div>
        {% endif %}
        <div class="Titletag"
            style="width: 507px; height: 19px; justify-content: center; align-items: center; display: inline-flex">
            <div class="Fdsafdsa"
                style="width: 507px; color: black; font-size: 16px; font-family: Inter; font-weight: 500; word-wrap: break-word">
                {% if element.titleTag|length %}
                {{ element.titleTag }}
                {% else %}
                {{ element.title }}
                {% endif %}
            </div>
        </div>
        {% if element.metaDescription|length %}
        <div class="Metadescription"
            style="width: 507px; height: 15px; justify-content: center; align-items: center; display: inline-flex">
            <div class="Fdsafdsa"
                style="width: 507px; color: #6C6C6C; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                {{ element.metaDescription }}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div style="padding: 10px 0;">
    <div class="Button"
        style="width: 99px; height: 48px; padding-left: 20px; padding-right: 20px; padding-top: 12px; padding-bottom: 12px; background: #1F2A37; border-radius: 8px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
        <div class="Text"
            style="color: white; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">
            <button onclick="refreshSeoPreview()">Refresh</button>
        </div>
    </div>
</div>

 <script>
    function refreshSeoPreview() {
        fetch(window.location.href, { method: 'GET' })
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const newDocument = parser.parseFromString(html, 'text/html');
                const newSeoPreview = newDocument.querySelector('.SeoPreview');
                const currentSeoPreview = document.querySelector('.SeoPreview');
                currentSeoPreview.innerHTML = newSeoPreview.innerHTML;
            })
            .catch(error => {
                console.error('Error refreshing SEO preview:', error);
            });
    }
</script>
